#bigdiv{
    width: 80%;
    margin: auto;
    
}
#im {
    width: 200px;
}
.col{
    color: #464e47 !important;
}
#head{
    text-align:center !important; 
    color: rgb(200, 166, 122) !important;
}

/* botton */
.btn{
    background-color:#464e47 !important;
    color: white !important;
    font-size: 20px !important;
    width: 200px;
    margin:50px 12% !important;
}
.btn:hover{
    background-color:sienna !important;
    font-size: 20px !important;
}

p em{
    font-weight: bold;
    color: sienna !important;
}



@media screen and (min-width: 481px) and (max-width: 768px) {
    #im {
        height: 50px !important;
    }
    .card {
        height: 50px !important;
    }
}

@media screen and  (max-width: 480px) {
    #im {
        width: 150px;
    }
}